/*-----Contact start-----*/
.contact-form{
    background-color: lightcyan;
    padding: 40px 12%;
}

.contact-form h2{
    text-align: center;
    margin-top: 3em;
    margin-bottom: 1em;
    font-size: 36px;
}
.contact-form form{
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 3em;
}   
.contact-form form .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contact-form form .input-box input,
.contact-form form textarea{
    width: calc(100% - 20px);
    padding: 15px;
    font-size: 18px;
    color: black;
    background: rgb(241, 241, 241);
    border-radius: 8px;
    margin: 10px;
    resize: none;
    border: 1px solid gray;
}
.contact-form form textarea{
    height: 150px;
    margin-bottom: 2rem;
}
.contact-form form .btn-1{
    padding: 13px 20px;
    font-size: 18px;
    color: white;
    background-color: black;;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}
.contact-form form .btn-1:hover{
    background-color: royalblue;
}
/*-----Contact end-----*/
